<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of Streams</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>List of Streams</h2>
      <p class="text-muted">These streams are now being broadcasted. Please see it live on rtmp://<%= serverAddress %>/live/{Stream Name}</p>
      <% if (streams.length > 0) { -%>
        <ol>
        <% for (var i=0, l=streams.length; i<l; i++) { -%>
          <li>
            <%= streams[i] %>
          </li>
        <% } -%>
        </ol>
      <% } -%>
    </div>
    <div class="col-lg-6">
      <h2>List of Files</h2>
      <p class="text-muted">You can download the recorded video in the list below.</p>
      <% if (files.length > 0) { -%>
        <ol>
        <% for (var i=0, l=files.length; i<l; i++) { -%>
          <li>
            <a href="file/<%= files[i].filename %>"><%= files[i].name %></a>
          </li>
        <% } -%>
        </ol>
      <% } -%>
    </div>
  </div>
</div>
</body>
</html>
