<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of files</title>
</head>
<body>
<div id="page">
  <h2>List of streams</h2>
  <% if (streams.length > 0) { -%>
    <ol>
    <% for (var i=0, l=streams.length; i<l; i++) { -%>
      <li>
        <%= streams[i] %>
      </li>
    <% } -%>
    </ol>
  <% } -%>
</div>
</body>
</html>
